<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Arrangement   by Free CSS Templates</title>
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">Baby shower</a></h1>
		</div>
		
	</div>
	<div id="menu">
		<ul>
			<li class="current_page_item"><span><a href="#">Home</a></span></li>
			<li><a href="#">About babies</a></li>
			<li><a href="#">Our story</a></li>
			<li><a href="#">Gift list</a></li>

		</ul>
	</div>
	<!-- end #menu -->
	
	<!-- end #header -->
	<div id="page">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Welcome to the baby shower </a></h2>
				
				<div class="entry">
					<p><img src="images/pic1.jpg" width="540" height="300" alt="" /></p>
					<p>Bottles and booties 
and bibs and more, 
let's shower the baby 
with gifts galore! 
Please come to a baby shower for 
Sally and Michael Kent 
Given by Lauren, Katherine, and Mandy Kent .</p>
					<p><a href="#" class="links">Full Details</a></p>
				</div>
			</div>
			
			
			<div style="clear: both;">&nbsp;</div>
		</div>
		
		<div id="sidebar">
			<ul>
				
				<li>
					<h2>All you need to know</h2>
					<ul>
						<li><a href="#">The location</a></li>
						<li><a href="#">The map</a></li>
						<li><a href="#">The date</a></li>
						<li><a href="#">Registration</a></li>
						<li><a href="#">Food served</a></li>
						<li><a href="#">Suggestions</a></li>
					</ul>
				</li>
			</ul>
		</div>
		
		<div style="clear: both;">&nbsp;</div>
	</div>

</div>
<div id="footer-wrapper">
	
	>
</div>
<div id="footer">
	<p>if you have any questions please call us on:974)66456342</p>
</div>
</body>
</html>
