 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Let's party</title>
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="menu">
			<ul>
				<li class="first current_page_item"><a href="#">Home</a></li>
				<li><a href="#">When</a></li>
				<li><a href="#">Where</a></li>
				<li><a href="#">Map</a></li>
				<li><a href="#">Theme</a></li>
				<li><a href="#">Guests</a></li>
			</ul>
		</div>
		<div id="logo">
			<h1><a href="#">Let's party </a></h1>
			<p> Like never before </p>
            <p><img src="images/p.jpg" width="540" height="260" alt="" 
                    style="margin-left: 0px; margin-top: 18px" /></p>
		</div>
	</div>
	
	
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				
				
				<div id="sidebar">
					<ul>
						<li>
							<h2>Games we are going to play in my birthday</h2>
							<ul>
								<li><a href="#">Candy game</a></li>
								<li><a href="#">Who am'I</a></li>
								<li><a href="#">Guess the number</a></li>
								<li><a href="#">Animal acting</a></li>
								<li><a href="#">Balloon game</a></li>
								<li><a href="#">Clue game</a></li>
							</ul>
						</li>
						
						
					</ul>
				</div>
				
				
			</div>
		</div>
	</div>
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />


</div>

</body>
</html>
