<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title> Graduation Party </title>
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="jquery.poptrox-0.1.js"></script>
</head>
<body>
<div id="header" class="container">
	<div id="logo">
		<h1><a href="#">Graduation </a>
		Party </h1>
		
	</div>
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="#">Homepage</a></li>
			<li><a href="#">Location</a></li>
			<li><a href="#">Fix the date</a></li>
			<li><a href="#">Theme</a></li>
			<li><a href="#">Contact us</a></li>
		</ul>
	</div>
</div>

<div id="images">
	
	<ul id="gallery">
		<li><img src="images/g.jpg" title="image." alt="" /></li>
		<li><img src="images/g1.jpg" title="image1." alt="" /></li>
		<li><img src="images/g2.jpg" title="image2." alt="" /></a></li>
		<li><img src="images/g3.jpg" title="image3." alt="" /></li>
		<li><img src="images/g4.jpg" title="imag4." alt="" /></li>
		<li><img src="images/g5.jpg" title="image5." alt="" /></li>
	
		
	</ul>
	

</div>
<div id="page">
	<div id="bg1">
		<div id="bg2">
			<div id="bg3">
				<div id="content">
					<h2>About the party</h2>
					<p> Fatma and Arif are graduating from high school this year and the Al Doha family is planning a major party to celebrate this milestone. Mrs. Al Doha had thought about mailing invitations, but Mr. Al Doha realizes that it would be more efficient to handle the entire invitation/RSVP process online. </p>
					<h2>Your are invited!</h2>
					<p>You are cordially invited to
                       Rock Around the Clock
                       at King High School
                       Class of 2018
                       25th Reunion Celebration
                       on June 12, 2018
                       at 3:00 p.m.
                       Dinner and 50's Dance will follow
                       Sandpepper Clubhouse
                       4580 Main Street
                       Austin, Texas. </p>
                       <h2>Register now</h2>
                      kindly email us you name and your coordination on register@htomail.com 

				</div>
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<p>Please if you have any questions contact us on Mr.AlDoha@hotmail.com</a>.</p>
</div>
</body>
</html>
